[submodule "vim/bundle/vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/Command-T"]
	path = vim/bundle/Command-T
	url = https://github.com/wincent/Command-T.git
[submodule "vim/bundle/vim-yankring"]
	path = vim/bundle/vim-yankring
	url = git://github.com/chrismetcalf/vim-yankring.git
[submodule "vim/bundle/ack.vim"]
	path = vim/bundle/ack.vim
	url = git://github.com/mileszs/ack.vim.git
[submodule "vim/bundle/vim-markdown"]
	path = vim/bundle/vim-markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "vim/bundle/vim-css-color"]
	path = vim/bundle/vim-css-color
	url = git://github.com/nel/vim-css-color.git
