[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/Command-T"]
	path = vim/bundle/Command-T
	url = git://github.com/wincent/Command-T.git
[submodule "vim/bundle/yankring"]
	path = vim/bundle/yankring
	url = git://github.com/chrismetcalf/vim-yankring.git
[submodule "vim/bundle/ack.vim"]
	path = vim/bundle/ack.vim
	url = git://github.com/mileszs/ack.vim.git
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/jQuery"]
	path = vim/bundle/jQuery
	url = git://github.com/vim-scripts/jQuery.git
[submodule "vim/bundle/git"]
	path = vim/bundle/git
	url = git://github.com/tpope/vim-git.git
[submodule "vim/bundle/markdown"]
	path = vim/bundle/markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "vim/bundle/css-color"]
	path = vim/bundle/css-color
	url = git://github.com/nel/vim-css-color.git
[submodule "vim/bundle/ruby"]
	path = vim/bundle/ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule "vim/bundle/rails"]
	path = vim/bundle/rails
	url = git://github.com/tpope/vim-rails.git
[submodule "vim/bundle/rake"]
	path = vim/bundle/rake
	url = git://github.com/tpope/vim-rake.git
[submodule "vim/bundle/rspec"]
	path = vim/bundle/rspec
	url = git://github.com/taq/vim-rspec.git
